<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlazorApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">BlazorApp</a>
        </nav>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="_framework/blazor.webassembly.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>