<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastAPI" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    
    <httpPlatform processPath="/usr/local/bin/gunicorn"
                  arguments="--bind=0.0.0.0 --timeout 600 main:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout.log"
                  startupTimeLimit="60"
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="/home/site/wwwroot" />
      </environmentVariables>
    </httpPlatform>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>